Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\Software\Wow6432Node\Electronic Arts\EA Games\Generals]
"Language"="english"
"InstallPath"="@WINEPATH@"
"MapPackVersion"=dword:00010000
"Version"=dword:00010007
"UserDataLeafName"="Command and Conquer Generals Data"

[HKEY_LOCAL_MACHINE\Software\Wow6432Node\Electronic Arts\EA Games\Generals\ergc]
@="5412001460717777331746"

[HKEY_LOCAL_MACHINE\Software\Electronic Arts\EA Games\Generals]
"Language"="english"
"InstallPath"="@WINEPATH@"
"MapPackVersion"=dword:00010000
"Version"=dword:00010007
"UserDataLeafName"="Command and Conquer Generals Data"

[HKEY_LOCAL_MACHINE\Software\Electronic Arts\EA Games\Generals\ergc]
@="5412001460717777331746"
